<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat app</title>
  </head>
  <body>
    <h1>Chat Box</h1>
    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <input type="text" id="username" placeholder="username...">
    <input type="text" id="newmsg" placeholder="message...">
    <button id="btn">Send</button>

    <ul id="msglist">

    </ul>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();
      let startchat = document.getElementById('startchat');
      let btn = document.getElementById("btn");
      let inputmsg = document.getElementById("newmsg");
      let msgList = document.getElementById("msglist");

      socket.emit('join_room', {
            roomid: startchat.getAttribute('data-roomid')
        })

      btn.onclick = function execu() {
        socket.emit("msg_send", {
          msg: inputmsg.value,
          username: username.value,
          roomid: startchat.getAttribute('data-roomid')
        });
      };
      

      socket.on("msg_rcvd", (data) => {
        let limsg = document.createElement("li");
        limsg.innerText = `${data.username} : ${data.msg}`;
        msgList.appendChild(limsg);
      });
    </script>
  </body>
</html>
